.section-post-container#secciones-container
  %h2 Representantes del distrito: #{params[:id]}

  - @representatives.each do |representative_position|
    %h2= Representative::POSITIONS[representative_position.first].humanize.titleize if Representative::POSITIONS[representative_position.first].present?
    
    %ul.representatives-list
      =render partial: 'home/representante', collection: representative_position.last
