.page-header
  %h1
    Nueva Postura Partidista

= form_for(@position, url: admin_positions_path, html: {class: 'formatted form-horizontal'}, multipart: true) do |form|
  = render partial: 'form', object: form

= render partial: '/admin/common/position_right_column'