%h1
  Nueva Postura Partidista

= form_for(@position, url: admin_positions_path, class: 'form_element', multipart: true) do |form|
  = render partial: 'form', object: form

= render partial: '/admin/common/position_right_column'