- if @banner.new_record?
  .form_element.text_field_element
    .label
      %label
        Email
    .value
      = form.file_field :image
- else
  = image_tag @banner.image.url

.form_element.select_element
  .label
    %label
      Activo
  .value
    = form.check_box :active

.form_element.submit_element
  .label
  .value
    = form.submit (@banner.new_record? ? 'Crear' : 'Editar')