.control-group
  .control-label Nombre
  .controls
    = form.text_field :name

.control-group
  .control-label Partido Politico y/o Alianza
  .controls
    = form.select :political_party_id, PoliticalParty.by_site(@site.id).collect {|p| [ p.name, p.id ]}, include_blank: true

.control-group
  .control-label Elecci&oacute;n
  .controls
    = form.select :election, @site.elections.collect {|p| [ p.name, p.id ] }, include_blank: true

.form-actions    
  = form.submit (@candidate.new_record? ? 'Crear' : 'Editar')