.form_element.select_element
  .label
    %label
      Nombre
  .value
    = form.text_field :name

.form_element.select_element
  .label
    %label
      Partido Politico/Alianza
  .value
    = form.text_field :political_party

.form_element.submit_element
  .label
  .value
    = form.submit (@candidate.new_record? ? 'Crear' : 'Editar')