.page-header
  %h2
    Editar Iniciativa

= form_for(@tracing, url: admin_tracing_path(@tracing), html: {class: 'formatted form-horizontal'}, method: :put) do |form|
  = render partial: 'form', object: form