.page-header
  %h2
    Nueva Iniciativas

= form_for(@tracing, url: admin_tracings_path, html: {class: 'formatted form-horizontal'}, multipart: true) do |form|
  = render partial: 'form', object: form