%h1
  Editar Partido Politico y/o Alianza

= form_for(@political_party, url: admin_political_parties_path(@event), class: 'form_element', method: :put) do |form|
  = render partial: 'form', object: form