= javascript_include_tag 'admin.js'
= stylesheet_link_tag 'admin.css'

%script
  $(document).ready(function() {
  $('#event_date').calendar();
  $('#news_date').calendar();
  $('#representative_birthday').calendar({yearRange: '-80:-18'});
  });

