= javascript_include_tag "jquery-calendar.js","jquery.tokeninput.js"
= stylesheet_link_tag 'jquery-calendar.css','token-input.css'

%script
  $(document).ready(function() {
  $('#event_date').calendar();
  $('#news_date').calendar();
  $('#representative_birthday').calendar({yearRange: '-80:-18'});
  });

