#carousel-container
  %ul#carousel
    - @banners.each do |banner|
      %li
        - if banner.link.present?
          = link_to image_tag(banner.image.url, width: 652, height: 155), banner.link_to_banner
        - else
          = image_tag(banner.image.url, width: 652, height: 155)

  .jcarousel-control
    - @banners.each_with_index do |banner, index|
      = link_to '&nbsp;'.html_safe, '#', data: {carousel: index}