#carousel-container
  #myCarousel.carousel.slide
    .carousel-inner
      - @banners.each_with_index do |banner, index|
        - if banner.image
          .item{class: "#{'active' if index==0}"}
            - if banner.link.present?
              = link_to image_tag(banner.image.url), banner.link_to_banner
            - else
              = image_tag(banner.image.url)

    %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} ‹
    %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} ›