.row
  .span8
    %h2
      Diputados Federales

    %ul#representatives-list.row
      =render partial: 'representante', collection: @diputados_federales

    %h2
      Senadores

    %ul#representatives-list.row
      =render partial: 'representante', collection: @senadores

    %h2
      Presidentes Municipales

    %ul#representatives-list.row
      =render partial: 'representante', collection: @alcaldes
      
    %h2
      Diputados Locales

    %ul#representatives-list.row
      =render partial: 'representante', collection: @diputados_locales
      