#main-content.span8
  #content
    = render partial: 'carousel'
    .sentir-ciudadano.phase-header
      %h2
        %span
          1
        Opina
    = render partial: 'phrases'

    .seleccion.phase-header
      %h2
        %span
          2
        Preg&uacute;ntales

    .destacadas.phase-header
      %h2
        %span
          3
        Compara, eval&uacute;a y decide

    .seguimiento.phase-header
      %h2
        %span
          4
        Síguel@s


= render partial: 'common/right_column'