= render partial: 'carousel'
.sentir-ciudadano.phase-header
  %h2
    %span
      1
    Sentir Ciudadano
= render partial: 'phrases'

.seleccion.phase-header
  %h2
    %span
      1
    Sentir Ciudadano

.destacadas.phase-header
  %h2
    %span
      1
    Sentir Ciudadano

.seguimiento.phase-header
  %h2
    %span
      1
    Sentir Ciudadano
