= render partial: 'carousel'
.sentir-ciudadano.phase-header
  %h2
    %span
      1
    Sentir Ciudadano
= render partial: 'phrases'

.seleccion.phase-header
  %h2
    %span
      2
    Selecci&oacute;n de Preguntas

.destacadas.phase-header
  %h2
    %span
      3
    Preguntas Destacadas

.seguimiento.phase-header
  %h2
    %span
      4
    Seguimiento del Resultado
