.page-header
  %h1
    Nuevo Representante

= form_for(@representative, url: admin_representatives_path, html: {class: 'formatted form-horizontal'}, multipart: true) do |form|
  = render partial: 'form', object: form