.list-news-container {
  @include makeRow;

  .list-news-content {
    @include makeColumn(6);
  }
  
  .list-news-sidebar {
    @include makeColumn(2);
    
    ul.news-categories {
      @extend .unstyled;

      li {
        background: url('/assets/bullet.png') no-repeat 0 3px;
        color: #ffffff;
        padding: 0 0 0 18px;
        margin: 0;

        &:hover {
          background: url('/assets/bullet-hover.png') no-repeat 0 3px;
        }
        
        a {
          color: #ffffff;
        }
      }
    }
    
    ul.archive-lists {
      @extend .unstyled;

      li {
        background: url('/assets/bullet.png') no-repeat 0 3px;
        color: #ffffff;
        font-size: 14px;
        padding: 0 0 0 18px;
        margin: 0;

        &:hover {
          background: url('/assets/bullet-hover.png') no-repeat 0 3px;
        }
        
        a {
          color: #ffffff;
        }
      }
    }
  }
}
