.modal {
  &.modal-postura {
    display: none;
    width: 1000px;
    margin-left: -500px;
    
    
    h3 {
      color: #000 !important;
      margin: 0 !important; 
    }
    
    p {
      color: #000 !important;
    }
    
    ul {
      margin: 0;
      padding: 0 10px 0 0;
      list-style: none;

      img {
        float: left;
        margin: 0 5px 0 0;
      }
    }
  }
}

#posturas-container {
  @include makeColumn(9);
}

ul.posturas {
  @include makeRow;

  list-style: none;
  margin: 0;

  li {
    &.topics {
      margin-top: 15px;

      a {
        background: url('/assets/bullet.png') no-repeat 0 3px;
        color: #ffffff;
        font-size: 14px;
        padding: 0 0 0 20px;

        &:hover {
          background: url('/assets/bullet-hover.png') no-repeat 0 3px;
        }
      }
    }
  }
}

#posturas {
  .phase-header:after {
    margin: -60px -16px 0 0;
  } 
}

li.postura {
  border-bottom: 1px solid #ccc;
  display: inline-block;
  padding: 15px 0;
  width: 100%;
  
  &:last-child {
    border-bottom: 0;
  }
}