.control-group
  .control-label Pregunta
  .controls
    = form.text_field :question

.control-group
  .control-label Elecci&oacute;n
  .controls
    = form.select :election_id, @site.elections.collect {|p| [ p.name, p.id ] }, include_blank: true

.form-actions
  = form.submit (@question.new_record? ? 'Crear' : 'Editar')