.control-group
  .control-label Titulo
  .controls
    = form.text_field :title

.control-group
  .control-label Tema
  .controls
    = form.text_field :topic_tokens, data: {load: @stance.json_topics}


.control-group
  .control-label Contenido
  .controls
    = form.text_area :content, 'data-rich-text' => "true"

.form-actions
  = form.submit (@stance.new_record? ? 'Crear' : 'Editar')
    
%script{type: "text/javascript"}
  $('#stance_topic_tokens').tokenInput('/admin/document_topics.json', {prePopulate: $('#stance_topic_tokens').data('load')}) 