.page-header
  %h2
    Nueva Postura

= form_for(@stance, url: admin_representative_stances_path(@representative), html: {class: 'formatted form-horizontal'}, multipart: true) do |form|
  = render partial: 'form', object: form