.control-group
  .control-label Pregunta
  .controls
    = form.select :question_id, @questions, include_blank: true

.control-group
  .control-label URL de la respuesta
  .controls
    = form.text_field :url


.form-actions
  = form.submit (@anwser.new_record? ? 'Crear' : 'Editar'), class: 'btn btn-primary'