%h1
  Editar Respuesta

= form_for(@anwser, url: admin_candidate_anwser_path(@candidate, @anwser), class: 'form_element', multipart: true, method: :put) do |form|
  = render partial: 'form', object: form