.page-header
  %h2
    Editar Respuesta

= form_for(@anwser, url: admin_candidate_anwser_path(@candidate, @anwser), html: {class: 'formatted form-horizontal'}, multipart: true, method: :put) do |form|
  = render partial: 'form', object: form