.page-header
  %h2
    Nueva Respuesta

= form_for(@anwser, url: admin_candidate_anwsers_path, html: {class: 'formatted form-horizontal'}, multipart: true) do |form|
  = render partial: 'form', object: form