@import 'twitter_bootstrap';
@import 'sections/home';
@import 'sections/posturas';
@import 'sections/representantes';
@import 'sections/position';
@import 'sections/events';

body {
  background: url('/assets/grey.png');
  font-family: 'Open Sans', sans-serif;
  margin: 125px 0 0;
}

a {
  color: #f869a6;

  &:hover {
    color: #f869a6;
  }
}

header {
  @extend .navbar-fixed-top;
  background: white;
  height: 85px;
  
  span {
    color: #F59331;
    display: inline;
    float: left;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 25px;
    margin: 34px 0 0;
  }

  .logo {
    float: left;
    padding: 13px 20px 12px 0px;
  }

  .social-networs {
    @include border-radius(0px);
    color: #ffffff;
    float: right;
    margin: 25px 0 0;
  }
}

footer {
  background: white;
  border-top: 20px solid #bf8dbb;
  height: 60px;
  margin: 30px 0 0 0;
  text-align: center;
  
  .logo-footer img {
    margin: 10px auto;
  }
}

.navbar {
  @extend .navbar-fixed-top;
  top: 85px;
  
  .navbar-inner {
    background: #bf8dbb;
    border: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    
    li {
      a {
        color: #ffffff;
        font-size: 12px;
        text-transform: uppercase;

        &:hover { background: none; text-decoration: underline;}
      }
    }
    
    .dropdown-menu {
      top: 101%;
    } 
  }
  
  .nav {
    li {
      a {
        text-shadow: none;
      }
    }
  }
}

#main-content {
  @include makeColumn(9);
  color: #fff;
  background: #636363;
  padding-top: 20px;
  padding-bottom: 20px;
  
  h2 {
    color: #FFFFFF;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 30px;
    font-weight: normal;
    margin: 20px 0 0 0px;
    padding: 0;
  }
  
  h1 {font-size: 32px;}
}

#side-bar {
  @include makeColumn(3);
  margin-left: 0px;
  width: 300px;
  
  .sidebar-element {
    background-color: #f0f0f0;
    
    h2 {
      background-color: #cccccc;
      margin: 20px 0 10px 0;
      padding: 5px 0 5px 30px;
      color: #000000;
      font-size: 20px;
      font-family: 'Merriweather Sans', sans-serif;
      font-weight: normal;
    }
    
    ul {
      @extend .unstyled;
      margin: 0;

      li {
        font-size: 12px;
        margin: 5px 0;
        padding: 5px 0 5px 30px;

        span {
          color: #A00059;
          display: block;
          font-size: 14px;
        }
      }
    }
    
    &.mailing-list {
      background-color: #f8f8f8;
      padding-bottom: 5px;
      
      .mailing-list-form {
        padding: 0 0 5px 30px;
        
        form {
          margin: 0;
          display: inline-block;
          
          input {
            &[type=submit] {
              @extend .btn;
              @extend .pull-right;
            }
          }
        }
      }
    }
  }
}