// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nav-tabs .open .dropdown-toggle, .nav-pills .open .dropdown-toggle, .nav > .open.active > a:hover {
  color: #000000;
}

.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
  color: #000000;
}

.awnsers {
  font-size: 12px;
  margin-left: 40px;
  margin-top: 40px;

  iframe {
    width: 280px;
  }

  .video-container {
    margin-bottom: 20px;
    width: 280px;

    span {
      display: block;
      height: 35px;
      margin-bottom: 10px;
    }
  }

  h4 {
    color: #F869A6 !important;
    margin-left: 0 !important;
    margin-bottom: 20px !important;
  }
}

ul#question_list {
  list-style: none;
  font-size: 12px;
  margin-left: 20px;

  li {
    border-top: 1px solid #333;
    border-bottom: 1px solid #999;
    margin: 5px 20px 5px 0;
    width: 280px;

    span {
      display: block;
    }
  }
}

.phase-header {
  height: 57px;
  margin: 20px 0 !important;
  position: relative;
  z-index: 10;

  &:before { float: left; margin: -11px 0 0 -16px; }

  &:after { float: right; margin: -69px -16px 0 0; }

  h2 {
    color: #ffffff;
    font-size: 40px;
    font-family: 'Medula One', cursive;
    font-weight: 200;
    margin-top: 0 !important;
    padding: 8px 0 0 0;

    span {
      font-size: 40px;
      font-family: 'Anton', sans-serif;
    }
  }

  &.old {
    height: 48px;
  }
}

.disclaimer {
  font-size: 12px;
  text-align: center;
}

.sentir-ciudadano {
  background: #ffc230;

  &:before { content: url("/assets/sentir-before.png"); }

  &:after { content: url("/assets/sentir-after.png"); }

  &.old {
    background: #e9c5b4;

    &:before { content: url("/assets/sentir-before-old.png"); }

    &:after { content: url("/assets/sentir-after-old.png"); }
  }

  &.span4 {
    &:before { content: none; }
    &:after { content: none; }

    margin: 30px 0 0 0;
    padding: 0 0 0 20px;
  }
}

.seleccion {
  background: #fdac87;

  &:before { content: url("/assets/seleccion-before.png"); }

  &:after { content: url("/assets/seleccion-after.png"); }

  &.old {
    background: #d9baa9;

    &:before { content: url("/assets/seleccion-before-old.png"); }

    &:after { content: url("/assets/seleccion-after-old.png"); }
  }

  &.span4 {
    &:before { content: none; }
    &:after { content: none; }

    margin: 30px 0 0 0;
    padding: 0 0 0 20px;
  }
}

.destacadas {
  background: #f69abe;

  &:before { content: url("/assets/destacada-before.png"); }

  &:after { content: url("/assets/destacada-after.png"); }

  &.span4 {
    &:before { content: none; }
    &:after { content: none; }

    margin: 30px 0 0 0;
    padding: 0 0 0 20px;
  }
}

.seguimiento {
  background: #bf8dbb;

  &:before { content: url("/assets/seguimiento-before.png"); }

  &:after { content: url("/assets/seguimiento-after.png"); }
  
  &.span4 {
    &:before { content: none; }
    &:after { content: none; }

    margin: 10px 0 0 0;
    padding: 0 0 0 20px;
  }
}

.mailing-list {
  background-color: #f8f8f8;
  margin: 10px 0 0 0;
  padding: 0 0 0 20px;

  form {
    input {
      &[type=submit] {
        background: none repeat scroll 0 0 #A00059;
        border: 0 none;
        color: #FFFFFF;
        float: right;
        margin: 0 80px 10px 0;
        padding: 5px 0;
        width: 120px;
      }
    }
  }
}


.events-header {
  background-color: #f8f8f8;
  margin: 30px 0 0 0;
  padding: 0 0 0 20px;
}

.news-container ,.events-container {
  margin: 0 0 0 20px;

  ul {
    list-style: none;
    margin: 0 0 0 -20px;

    li {
      background: #cccccc;
      font-family: Trebuchet MS, san serif;
      font-size: 12px;
      margin: 5px 0;
      padding: 5px 0 5px 20px;

      span {
        color: #A00059;
        display: block;
        font-family: 'Oswald', cursive;
        font-size: 14px;
      }
    }
  }
}

.questions-banner {
  margin: 0 0 0 -20px;

   &:before { content: url("/assets/image-bg-left.png"); }
}

ul {
  &.questions-list {
    display: inline-block;
    list-style: none;
    margin-top: 15px;

    li {
      background: url('/assets/bullet.png') no-repeat 0 3px;
      color: #ffffff;
      font-family: Trebuchet MS, serif;
      font-size: 14px;
      padding: 0 0 10px 20px;

      &:hover {
        background: url('/assets/bullet-hover.png') no-repeat 0 3px;
      }
    }

    a {
      color: #F869A6;
    }
  }
}


.alert {
  margin-left: 35px;
}

.twitter-container {
  background-color: #FFC230;
  margin: 30px 0 0 0;
  padding: 0 0 0 20px;

  h2 {
    background: url("/assets/twitter.png") no-repeat scroll 200px 8px transparent;
  }
}

.tweet {
  margin: 0 0 0 20px;

  ul {
    list-style: none;
    margin: 0 0 0 -20px;

    li {
      background: #cccccc;
      font-family: Trebuchet MS, san serif;
      font-size: 12px;
      margin: 5px 0;
      padding: 5px 0 5px 20px;

      a { color: #f869a6; }
    }
  }
}

#carousel-container {
  height: 155px;
  margin: 10px 0 10px -6px;
  width: 652px;
}

.jcarousel-clip-horizontal {
  height: 155px;
  margin: 0 0 0 0;
  overflow: hidden;
  width: 652px;
}

.jcarousel-control {
  margin: -32px 21px 0 0;
  position: relative;
  text-align: right;
  z-index: 1000;

  a {
    background-color: #FFFFFF;
    border: 0;
    font-size: 10px;
    opacity: 0.5;
    padding: 0 5px;

    &.bullet-filled {
      border: 0;
      opacity: 1;
    }

    &:hover { text-decoration: none;}
  }

}

.most-voted {
  margin: 0;
}

.seria-seguro, .questions {
  input[type=text] {
    color: #494949;
    border: 0;
    background-color: #ffd7e9;
    font-family: Trebuchet MS;
    font-size: 14px;
    height: 48px;
  }

  input[type=submit] {
    color: #ffffff;
    background-color: #A1005C;
    border: 0;
    float: right;
    font-family: 'Homenaje', sans-serif;
    font-size: 18px;
    height: 50px;
    margin: 2px -12px 2px 0;
    position: relative;
    width: 90px;
    z-index: 10;

    .chrome & {
      margin: -62px -12px 2px 0;
    }
  }

  .input-container {
    background-color: #ffd7e9;
    height: 56px;
    margin: 50px 0px 0 20px;

    &:before {
      content:url('/assets/input-tail.png');
      float: left;
      margin: 0 0 0 -22px;
    }
  }
}

.seria-seguro {
  span {
    color: #fff;
    float: left;
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    line-height: 90%;
    margin: 0 0 0 10px;
  }
}

.questions {
  span {
    float: left;
    font-family: 'Oswald',sans-serif;
    font-size: 20px;
    line-height: 90%;
    margin: 67px 0 0 20px;
  }
}

#phrases-container {
  #phrases-box {
    background-color: transparent;
    height: 250px;
    margin: 10px 0;
    padding: 10px;

    span {
      &.w1 {color: #B1DDF3 ;}
      &.w2 {color: #F1B2E1 ;}
      &.w3 {color: #FFDE89 ;}
      &.w4 {color: #E3675C ;}
      &.w5 {color: #C2D985 ;}
      &.w6 {color: #F1433F ;}
      &.w7 {color: #F7E967 ;}
      &.w8 {color: #3D4C53 ;}
      &.w9 {color: #70B7BA ;}
      &.w10 {color: #A1005C ;}

    }
  }
}

#sessions {
  #content { background-color: #ffffff !important;}
}

ul#representatives-list {
  list-style: none;

  li {
    border-top: 1px solid #333;
    border-bottom: 1px solid #999;
    height: 80px;
    margin: 15px 20px 5px;
    width: 280px;

    span {
      display: block;
      font-size: 12px;
      margin: 10px 0;
    }

    &:hover {
      background: url('/assets/arrow-right.png') no-repeat right;
    }
  }
}

.sigueles-title {
  float: left;
  text-align: center;
  margin-right: 10px;
  margin-top: -5px;

  span {
    display: block;
    font-size: 12px !important;
    line-height: 1;
  }
}

.profile {
  margin-left: 0px;

  & > div {height: 600px}

  img {
    border: 5px solid #FFFFFF;
    margin-bottom: 10px;
    width: 210px;

    &.thumb { width: 45px }
  }

  .active {
    .icon-chevron-right {background-image:url("/assets/glyphicons-halflings-white.png");}
  }

  .tab-content {
    width: 250px;

    .tab-pane {
      color: #363636;
      height: 600px;
      max-width: 250px;
      overflow-x: auto;

      &#biografia { font-size: 12px;}
      
      &#twitter {
        font-size: 12px;
        
        .tweet_odd, .tweet_even {
          background-color: white;
          padding: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
        }
        
        .tweet_even { background-color: #ccc; }
      }

      p {
        color: #363636 !important;
        margin-left: 0 !important;
        margin-top: 0 !important;
      }
    }
  }

  .nav-tabs.nav-stacked {
    width: 240px;


    li {
      i {
        float:right;
        -moz-opacity:.50;
        filter:alpha(opacity=50);
        opacity:.50;
      }

      &:hover, &.active {
        i {
          -moz-opacity:1;
          filter:alpha(opacity=100);
          opacity:1;
        }
      }
    }
  }

  .label {margin-right:5px;}

  .nav-tabs.nav-stacked > li:last-child > a {
    -webkit-border-radius: 0 0 0 4px;
    -moz-border-radius: 0 0 0 4px;
    border-radius: 0 0 0 4px;
  }

  .nav-tabs.nav-stacked > li:first-child > a {
    -webkit-border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
    border-radius: 4px 0 0 0 ;
  }

  .nav-tabs.nav-stacked > li > a {border-right: 0;}

  .nav-tabs > .active > a, .nav-tabs > .active > a:hover {
    background: #363636;
    color: #ffffff;
  }

  span {
    &.one-line { display:block; }
  }

  ul.tweet_list {
    list-style: none;
    margin: 0;

    li {
      margin-bottom: 20px;
    }
  }

}

#articles {
  margin: 50px 0 -60px 0;
  
  h2 {
    color: black;
    border-bottom: 1px solid #999;
    font-size: 40px;
    font-family: 'Medula One', cursive;
    font-weight: normal;
    margin: 10px 0 5px 0;
    
    a {
      font-size: 13px;
      float: right;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }
  }
}

.postura {
  padding: 10px 0 10px 80px;
  width: 520px;
  background: url('/assets/timeline.png') no-repeat 30px center;
  margin-left: 10px;
  position: relative;
  
  .postura-created-at {
    display: none;
    position: absolute;
    top: 55%;
    margin-left: -69px;
  }
  
  &:hover {
    background: url('/assets/timeline-hover.png') no-repeat 25px center;
    
    .postura-created-at {
      display: inline;
    }
  }
  
  .postura-content {
    background: #fff;
    border-radius: 10px;
    padding: 10px;
    
    p, h4, div { color: #333 !important;}
    
    p, div {
      margin: 0 !important;
      padding: 0 !important;
      font-size: 12px !important;
    }
    
    h4 {
      margin: 0 !important;
      padding: 0 0 10px 0 !important;
    }
  }
}

#side-bar {
  .sentir-ciudadano, .seleccion, .destacadas {
    margin-top: 10px;
  }
}

.fb-comments {
  background-color: #ffffff;
  margin-left: 40px;
  padding: 15px;
}