// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nav-tabs .open .dropdown-toggle, .nav-pills .open .dropdown-toggle, .nav > .open.active > a:hover {
  color: #000000;
}

.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
  color: #000000;
}


.phase-header {
  height: 57px;
  margin: 20px 0;
  position: relative;
  z-index: 10;

  &:before { float: left; margin: -11px 0 0 -16px; }

  &:after { float: right; margin: -65px -16px 0 0; }

  h2 {
    color: #ffffff;
    font-size: 40px;
    font-family: 'Medula One', cursive;
    font-weight: 200;
    padding: 8px 0 0 0;

    span {
      font-size: 40px;
      font-family: 'Anton', sans-serif;
    }
  }
}

.sentir-ciudadano {
  background: #ffc230;

  &:before { content: url("/assets/sentir-before.png"); }

  &:after { content: url("/assets/sentir-after.png"); }
}

.seleccion {
  background: #fdac87;

  &:before { content: url("/assets/seleccion-before.png"); }

  &:after { content: url("/assets/seleccion-after.png"); }
}

.destacadas {
  background: #f69abe;

  &:before { content: url("/assets/destacada-before.png"); }

  &:after { content: url("/assets/destacada-after.png"); }
}

.seguimiento {
  background: #bf8dbb;

  &:before { content: url("/assets/seguimiento-before.png"); }

  &:after { content: url("/assets/seguimiento-after.png"); }
}

.mailing-list {
  background-color: #f8f8f8;
  margin: 10px 0 0 0;
  padding: 0 0 0 20px;

  form {
    input {
      &[type=submit] {
        background: none repeat scroll 0 0 #A00059;
        border: 0 none;
        color: #FFFFFF;
        float: right;
        margin: 0 80px 10px 0;
        padding: 5px 0;
        width: 120px;
      }
    }
  }
}


.events-header {
  background-color: #f8f8f8;
  margin: 30px 0 0 0;
  padding: 0 0 0 20px;
}

.events-container {
  margin: 0 0 0 20px;

  ul {
    list-style: none;
    margin: 0 0 0 -20px;

    li {
      background: #cccccc;
      font-family: Trebuchet MS, san serif;
      font-size: 12px;
      margin: 5px 0;
      padding: 5px 0 5px 20px;

      a { color: #f869a6; }

      span {
        color: #A00059;
        display: block;
        font-family: 'Oswald', cursive;
        font-size: 14px;
      }
    }
  }
}

.twitter-container {
  background-color: #f8f8f8;
  margin: 30px 0 0 0;
  padding: 0 0 0 20px;

  h2 {
    background: url("/assets/twitter.png") no-repeat scroll 200px 8px transparent;
  }
}

.tweet {
  margin: 0 0 0 20px;

  ul {
    list-style: none;
    margin: 0 0 0 -20px;

    li {
      background: #cccccc;
      font-family: Trebuchet MS, san serif;
      font-size: 12px;
      margin: 5px 0;
      padding: 5px 0 5px 20px;

      a { color: #f869a6; }
    }
  }
}

#carousel-container {
  height: 155px;
  margin: 10px 0 10px -16px;
  width: 652px;
}

.jcarousel-clip-horizontal {
  height: 155px;
  margin: 0 0 0 0;
  overflow: hidden;
  width: 652px;
}

.jcarousel-control {
  margin: -32px 21px 0 0;
  position: relative;
  text-align: right;
  z-index: 1000;

  a {
    background-color: #FFFFFF;
    border: 0;
    font-size: 10px;
    opacity: 0.5;
    padding: 0 5px;

    &.bullet-filled {
      border: 0;
      opacity: 1;
    }

    &:hover { text-decoration: none;}
  }

}


.seria-seguro {
  span {
    color: #fff;
    float: left;
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    line-height: 90%;
    margin: 0 0 0 10px;
  }

  .frases-input {
    background-color: #ffd7e9;
    height: 56px;
    margin: 50px 0px 0 20px;

    &:before {
      content:url('/assets/input-tail.png');
      float: left;
      margin: 0 0 0 -22px;
    }
  }

  input[type=text] {
    color: #494949;
    border: 0;
    background-color: #ffd7e9;
    font-family: Trebuchet MS;
    font-size: 14px;
    height: 48px;
  }

  input[type=submit] {
    color: #ffffff;
    background-color: #A1005C;
    border: 0;
    float: right;
    font-family: 'Homenaje', sans-serif;
    font-size: 18px;
    height: 50px;
    margin: 2px -12px 2px 0;
    position: relative;
    width: 90px;
    z-index: 10;

    .chrome & {
      margin: -62px -12px 2px 0;
    }
  }
}

#phrases-container {
  #phrases-box {
    background-color: transparent;
    height: 250px;
    margin: 10px 0;
    padding: 10px;

    span {
      &.w1 {color: #B1DDF3 ;}
      &.w2 {color: #F1B2E1 ;}
      &.w3 {color: #FFDE89 ;}
      &.w4 {color: #E3675C ;}
      &.w5 {color: #C2D985 ;}
      &.w6 {color: #F1433F ;}
      &.w7 {color: #F7E967 ;}
      &.w8 {color: #3D4C53 ;}
      &.w9 {color: #70B7BA ;}
      &.w10 {color: #A1005C ;}

    }
  }
}

#sessions {
  #content { background-color: #ffffff !important;}
}