// Place all the styles related to the posturas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.modal {
  display: none;
  left: 32%;
  width: 1020px;

  ul {
    list-style: none;
    border-right: 1px solid #ccc;
  }
}

#posturas {

  .modal {
    ul {
      margin: 0;
      padding: 0 10px 0 0;

      img {
        float: left;
        margin: 0 5px 0 0;
      }
    }
  }

  #content {

    ul {
      list-style: none;
      margin: 0;

      li {
        &.topics {
          margin-top: 15px;

          a {
            background: url('/assets/bullet.png') no-repeat 0 3px;
            color: #ffffff;
            font-family: Trebuchet MS, serif;
            font-size: 14px;
            padding: 0 0 0 20px;

            &:hover {
              background: url('/assets/bullet-hover.png') no-repeat 0 3px;
            }
          }
        }
      }
    }
  }
}