// Place all the styles related to the proyectos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#proyectos{
  #main-content {
    #content {
      padding: 60px 0 50px;
    }

    .thumbnail {
      margin: 0 5px 5px 0;
    }
  }

  .phase-header {
    &:after { float: right; margin: -55px -16px 0 0; }
  }
}