.row.span4.mailing-list
  %h2
    Boletín Informativo

  - if @site.hostname.match /bc/
    <div id="mc_embed_signup">
    <form action="http://parbros.us5.list-manage.com/subscribe/post?u=2012d8d6b8c86cc7291783c2e&amp;id=f57eca7986" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">

    <div class="mc-field-group">
    <label for="mce-NOMBRE">Nombre </label>
    <input type="text" value="" name="NOMBRE" class="required" id="mce-NOMBRE">
    </div>
    <div class="mc-field-group">
    <label for="mce-EMAIL">Email </label>
    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
    </div>
    <div class="mc-field-group">
    <label for="mce-MOVIL">Movil </label>
    <input type="text" value="" name="MOVIL" class="" id="mce-MOVIL">
    </div>
    <div id="mce-responses" class="clear">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
    </div>  <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </form>
    </div>

  - elsif @site.hostname.match /nl/
    <div id="mc_embed_signup">
    <form action="http://seguridadconjusticianl.us5.list-manage.com/subscribe/post?u=c82aea3b91cd9956dc16f7e26&amp;id=34f3bb39e3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">

    <div class="mc-field-group">
    <label for="mce-MMERGE1">Nombre </label>
    <input type="text" value="" name="MMERGE1" class="required" id="mce-MMERGE1">
    </div>
    <div class="mc-field-group">
    <label for="mce-EMAIL">Email </label>
    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
    </div>
    <div class="mc-field-group">
    <label for="mce-MMERGE2">Movil </label>
    <input type="text" value="" name="MMERGE2" class="" id="mce-MMERGE2">
    </div>
    <div id="mce-responses" class="clear">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
    </div>	<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </form>
    </div>

  - elsif @site.hostname.match /ch/
    <div id="mc_embed_signup">
    <form action="http://seguridadconjusticiach.us5.list-manage.com/subscribe/post?u=46b5a445e9ec22f84cf918dc3&amp;id=6adda2220a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">

    <div class="mc-field-group">
    <label for="mce-NOMBRE">Nombre </label>
    <input type="text" value="" name="NOMBRE" class="required" id="mce-NOMBRE">
    </div>
    <div class="mc-field-group">
    <label for="mce-EMAIL">Email </label>
    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
    </div>
    <div class="mc-field-group">
    <label for="mce-MOVIL">Movil </label>
    <input type="text" value="" name="MOVIL" class="" id="mce-MOVIL">
    </div>
    <div id="mce-responses" class="clear">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
    </div>	<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </form>
    </div>