.sidebar-element.news-container
  %h2
    =link_to 'Noticias', '/noticias'

  %ul
    - News.to_sidebar(@site.id).each do |news|
      %li
        %span
          =link_to news.title, noticia_path(news)
        = news.topic
        |
        = news.date.to_date if news.date.present?