.row.span4.events-header
  %h2
    Noticias
.news-container.span4
  %ul
    - News.by_site(@site.id).limit(3).each do |news|
      %li
        %span
          =link_to news.title, noticia_path(news)
        = news.topic
        |
        = news.date.to_date if news.date.present?