.row.span4.events-header#tooltip-header{:rel => "tooltip", :title => "Conoce las actividades realizadas antes de las elecciones 2012"}
  %h2
    Fase Pre-electoral
  
.row.span4.sentir-ciudadano.old
  = link_to opina_index_path do
    %h2
      %span
        1
      Opina

.row.span4.seleccion
  = link_to preguntas_path do
    %h2
      %span
        2
      Preg&uacute;ntales

.row.span4.destacadas
  = link_to evalua_index_path do
    %h2
      %span
        3
      Compara, eval&uacute;a y decide

.row.span4.seguimiento
  = link_to root_path do
    %h2
      %span
        4
      S&iacute;gueles...

%script
  $('#tooltip-header').tooltip({placement: 'bottom'})