.row.span4.mailing-list
  %h2
    Sigue lo que pasa en tu estado

  %ul
    %li
      = link_to 'Prevención', seguimientos_tipos_path('prevención')
    %li
      = link_to 'Seguridad', seguimientos_tipos_path('seguridad')
    %li
      = link_to 'Justicia', seguimientos_tipos_path('justicia')