.sidebar-element.twitter-container
  %h2
    Twitter

  .twitter-content
    %a.twitter-timeline{'href' => "https://twitter.com/#{@site.settings.twitter_user_name}", 'data-widget-id' => "349632396825616384", 'data-chrome' => "nofooter transparent noheader",  'height' => "300", 'data-tweet-limit' => "3", 'lang' => "es", 'data-screen-name' => "@site.settings.twitter_user_name"}
      Tweets by #{@site.settings.twitter_user_name}
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

